h1 {
    left: 500px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #2e2b2b;
    text-align: center;
    position: relative;
    bottom: 150px ;
    left: -550px;
    
  }
  
  body {
     height: 100%;
     margin: 0;
     position: relative;
     background-image: url('https://github.com/janvihegde/tathva/blob/main/lotus3.jpg?raw=true');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
  }
  
  
  img{
      height:500px;
      width:350px;
      border-radius: 15px;
      position: relative;
      
  
  }
  .container{
      margin-left: 20px;
     font-size: 25px;
     
     }
  .card{
      height:500px;
      margin-left: 0%;
      box-shadow: 5px 5px 20px black;
      position: relative;
      top: 50px;
  }
   body{
      display: flex;
      justify-content:left;
      height:90vh;
      align-items:center ;
      margin: 40px;
      
   }
  
   
   .intro{
     height:300px;
     width:450px;
     left: 520px;
     padding:6px;
      position: absolute;
     color: black;
     bottom:205px;
     transition: .5s;
     }
     
    
   
     p{
      font-size:10px;
      margin:20px;
      visibility: hidden;
      opacity: 0;
      color: black;
      position: relative;
      bottom: 150px;
   }
   span{
      font-weight: bold;
  
   }
   .card:hover{
      cursor:pointer;
  
   }
   .card:hover .intro{
      height:280px;
      bottom:200px;
      width: 450px;
      
      opacity:0.8;
   }
   .card:hover p{
      opacity:0.8;
      visibility:visible;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      width: 620px;
      font-size: 35px;
     font-style: italic;
   }
  
   .card:hover .img{
      transform:scale(-1.1) rotate(-3deg)
  
   }